/*header*/

header {
    box-sizing: border-box;
    background: rgb(246, 251, 254);
    box-shadow: 0px 5px 16px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.bordered-top-bottom {
    box-sizing: border-box;
    border-top: 1px solid rgba(63, 67, 64, 0.5);
    border-bottom: 1px solid rgba(63, 67, 64, 0.5);
    max-width: 170px;
    padding: 5px 10px;
}

.bordered-top-bottom_header {
    margin: 20px 0;
}

.bordered-top-bottom__time {
    font: 400 21px "FinchFrame3";
    color: rgba(63, 67, 64, 0.902);
    text-align: center;
}

.bordered-top-bottom__tel {
    font: 700 21px "FinchFrame3";
    color: rgba(63, 67, 64, 0.902);
    text-align: center;
    text-decoration: none;
}

.bordered-top-bottom__address {
    font: 400 21px "FinchFrame3";
    color: rgb(63, 67, 64);
    text-align: center;
}

.logo {
    display: block;
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
    width: 380px;
    height: 100px;
}

.bordered-top-bottom_login {
    text-decoration: none;
    padding-left: 40px;
    position: relative;
}

.bordered-top-bottom_login:before {
    content: "";
    background: url(../images/icons/login.png) no-repeat center;
    width: 40px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 10px;
}

.bordered-top-bottom__account {
    font: 700 25px "FinchFrame3";
    color: rgb(63, 67, 64);
    text-align: center;
}

.bordered-top-bottom__login {
    font: 400 21px "FinchFrame3";
    color: rgb(63, 67, 64);
    text-align: center;
}

.cart {
    background: #f3f1df;
    text-decoration: none;
    padding: 0 30px;
}

.cart__icon {
    background: url(../images/icons/cart.png) no-repeat center;
    width: 50px;
    height: 50px;
}

.cart__sum {
    font: 700 21px "FinchFrame3";
    color: rgb(0, 0, 0);
    text-align: center;
}