/*menu*/

.menu-line {
    background: #f0e8c1;
    position: relative;
}

.menu-line .wrapper {
    position: relative;
}

.menu-line__top-background {
    background: url(../images/nav.menu/nav-top.png) no-repeat center;
    height: 60px;
    width: 100%;
    position: relative;
    top: -9px;
}

.menu-line__bottom-background {
    background: url(../images/nav.menu/nav-bottom.png) no-repeat center;
    height: 60px;
    width: 100%;
    position: relative;
    bottom: -50px;
    z-index: 1;
}

.menu-line .wrapper {
    justify-content: center;
}

.menu {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.menu li {
    list-style: none;
    float: left;
    border-radius: 2px;
}

.menu li:hover {
    background-color: rgba(238, 190, 108, 0.5);
    box-shadow: 0px 10px 9.8px 0.2px rgba(0, 0, 0, 0.25);
}

.menu li a:before{
	content: "";
    background: url(../images/nav.menu/windmill.svg) no-repeat center;
    background-size: contain;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.menu li.menu__item_news a:before{
    background: url(../images/nav.menu/apron.svg) no-repeat center;
    background-size: contain;
}

.menu li.menu__item_order a:before{
    background: url(../images/nav.menu/baker.svg) no-repeat center;
    background-size: contain;
}

.menu li.menu__item_bonus a:before{
    background: url(../images/nav.menu/cake.svg) no-repeat center;
    background-size: contain;
}

.menu li.menu__item_contacts a:before{
    background: url(../images/nav.menu/hat.svg) no-repeat center;
    background-size: contain;
}

.menu li.menu__item_delivery a:before{
    background: url(../images/nav.menu/cargo.svg) no-repeat center;
    background-size: contain;
}

.menu a {
	display: inline-block;
    font-size: 25px;
    color: rgb(63, 67, 64);
    text-align: center;
    text-decoration: none;
    width: 100%;
    position: relative;
    padding: 90px 30px 10px;
    box-sizing: border-box;
}

.burger {
    display: none;
    position: absolute;
    width: 40px;
    height: 42px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    cursor: pointer; 
    height: 3px;
    width: 30px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 5px;
    transition: all 200ms ease-in-out;
}

.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    left: 0;
    top: 20px;
}

.burger_active span {
    background-color: transparent;
}
    
.burger_active span::before  {
    transform: rotate(45deg);
    top: 8px;
}

.burger_active span::after  {
    transform: rotate(-45deg);
    top: 8px;
}

.wholesale {
    box-sizing: border-box;
    background: #f0e8c1;
    position: absolute;
    top: -65px;
    right: 140px;
    border: 2px solid rgba(63, 67, 64, 0.5);
    width: 116px;
    height: 166px;
    font-size: 37px;
    line-height: 1;
    color: rgba(63, 67, 64, 0.902);
    font-weight: 700;
    text-align: center;
    padding:  30px 10px 10px;
}

.wholesale__icon {
    background: url(../images/bread.svg) no-repeat center;
    background-size: contain;
    width: 55px;
    height: 55px;
    margin: 0 auto;
}