<header>
    <div class="wrapper flex_between">
        <div class="bordered-top-bottom bordered-top-bottom_header">
            <div class="bordered-top-bottom__time">с 9:00 до 22:00</div>
            <a href="tel:+79221816600" class="bordered-top-bottom__tel">+7(922)-181-66-00</a>
        </div>
        <div class="bordered-top-bottom bordered-top-bottom_header">
            <div class="bordered-top-bottom__address">ул. 40 лет октября 42/1 Индустрии 104. ЖК Каскад</div>
        </div>
        <a href="/" class="logo"></a>   
        <a href="#" class="bordered-top-bottom bordered-top-bottom_login bordered-top-bottom_header">
            <div class="bordered-top-bottom__account">ЛИЧНЫЙ КАБИНЕТ</div>
            <div class="bordered-top-bottom__login">Вход / Регистрация</div>
        </a>
        <a href="#" class="cart">
            <div class="cart__icon"></div>
            <div class="cart__sum">13 025 р</div>
        </a>
    </div>
</header>