<div class="cake-layer" id="hidden-content">
    <div class="cake-layer__caption">корж</div>
    <div class="cake-layer__columns flex"> 
        <div class="cake-layer__column">
            <div class="layer-slider">
                <div class="layer-slider__viewport">
                    <div class="layer-slider__slidewrapper">
                        <div class="layer-slider__slide">
                            <div class="layer-slider__img-wr">
                                <img src="images/layer1.png" alt="">
                            </div>
                        </div>
                        <div class="layer-slider__slide">
                            <div class="layer-slider__img-wr">
                                <img src="images/layer2.png" alt="">
                            </div>
                        </div>
                        <div class="layer-slider__slide">
                            <div class="layer-slider__img-wr">
                                <img src="images/layer1.png" alt="">
                            </div>
                        </div>
                        <div class="layer-slider__slide">
                            <div class="layer-slider__img-wr">
                                <img src="images/layer2.png" alt="">
                            </div>
                        </div>
                        <div class="layer-slider__slide">
                            <div class="layer-slider__img-wr">
                                <img src="images/layer1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cake-layer__controls flex">
                <label for="layer1" class="cake-layer__control-wr">
                    <div class="cake-layer__control"></div>
                </label>
                <label for="layer2" class="cake-layer__control-wr">
                    <div class="cake-layer__control"></div>
                </label>
                <label for="layer3" class="cake-layer__control-wr">
                    <div class="cake-layer__control"></div>
                </label>
                <label for="layer4" class="cake-layer__control-wr">
                    <div class="cake-layer__control"></div>
                </label>
                <label for="layer5" class="cake-layer__control-wr">
                    <div class="cake-layer__control"></div>
                </label>
            </div>
            <div class="cake-layer__preview flex">
                <label class="radio-wrapper_layer">
                    <span class="radio-img-wr_layer">
                        <img src="images/layer1.png" alt="">
                    </span>
                    <span class="radio-label_layer">Бисквитно-ванильный</span>
                    <input id="layer1" type="radio">
                </label>
                <label class="radio-wrapper_layer">
                    <span class="radio-img-wr_layer">
                        <img src="images/layer2.png" alt="">
                    </span>
                    <span class="radio-label_layer">Бисквитно-шоколадный</span>
                    <input id="layer2" type="radio">
                </label>
                <label class="radio-wrapper_layer">
                    <span class="radio-img-wr_layer">
                        <img src="images/layer1.png" alt="">
                    </span>
                    <span class="radio-label_layer">Миндально-ореховый</span>
                    <input id="layer3" type="radio">
                </label>
                <label class="radio-wrapper_layer">
                    <span class="radio-img-wr_layer">
                        <img src="images/layer2.png" alt="">
                    </span>
                    <span class="radio-label_layer">Медовый</span>
                    <input id="layer4" type="radio">
                </label>
                <label class="radio-wrapper_layer">
                    <span class="radio-img-wr_layer">
                        <img src="images/layer1.png" alt="">
                    </span>
                    <span class="radio-label_layer">Корж из слоеного теста</span>
                    <input id="layer5" type="radio">
                </label>
            </div>
        </div>
        <div class="cake-layer__column">
            <div class="layer-slider">
                <div class="layer-slider__viewport">
                    <div class="layer-slider__slidewrapper">
                        <div class="layer-slider__slide">
                            <div class="layer-slider__info">
                                <h3>Бисквитно-ванильный</h3>
                                <div class="layer-slider__paragraph">
                                    <div>Идеальное сочетание насыщенного вкуса бискивта на сметане с какао  и масленного крема с добавлением уваренного сгущенного молока. Необыкновенный торт для сладкоежек.</div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>В 100г продукта содержится:</div>
                                <div class="flex_between">
                                    <div>
                                        <div>Белки:</div>
                                        <div>Жири:</div>
                                        <div>Углеводы:</div>
                                        <div>Энергетическая ценность:</div>  
                                    </div>
                                    <div>
                                        <div>14,0 г</div>
                                        <div>12,0 г</div>
                                        <div>48,0 г</div>
                                        <div>323,0 ккал</div>
                                    </div>
                                </div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>Состав: мука, сахар, какао, ванилин, масло сливочное, меланж, молоко сгущенное, коньяк, сода, кефир, вино, кислота лимонная.</div>
                                </div>
                                <button class="layer-slider__button button button_blue">выбрать</button>
                            </div>
                        </div>
                        <div class="layer-slider__slide">
                            <div class="layer-slider__info">
                                <h3>Бисквитно-шоколадный</h3>
                                <div class="layer-slider__paragraph">
                                    <div>Идеальное сочетание насыщенного вкуса бискивта на сметане с какао  и масленного крема с добавлением уваренного сгущенного молока. Необыкновенный торт для сладкоежек.</div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>В 100г продукта содержится:</div>
                                <div class="flex_between">
                                    <div>
                                        <div>Белки:</div>
                                        <div>Жири:</div>
                                        <div>Углеводы:</div>
                                        <div>Энергетическая ценность:</div>  
                                    </div>
                                    <div>
                                        <div>14,0 г</div>
                                        <div>12,0 г</div>
                                        <div>48,0 г</div>
                                        <div>323,0 ккал</div>
                                    </div>
                                </div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>Состав: мука, сахар, какао, ванилин, масло сливочное, меланж, молоко сгущенное, коньяк, сода, кефир, вино, кислота лимонная.</div>
                                </div>
                                <button class="layer-slider__button button button_blue">выбрать</button>
                            </div>
                        </div>
                        <div class="layer-slider__slide">
                            <div class="layer-slider__info">
                                <h3>Миндально-ореховый</h3>
                                <div class="layer-slider__paragraph">
                                    <div>Идеальное сочетание насыщенного вкуса бискивта на сметане с какао  и масленного крема с добавлением уваренного сгущенного молока. Необыкновенный торт для сладкоежек.</div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>В 100г продукта содержится:</div>
                                <div class="flex_between">
                                    <div>
                                        <div>Белки:</div>
                                        <div>Жири:</div>
                                        <div>Углеводы:</div>
                                        <div>Энергетическая ценность:</div>  
                                    </div>
                                    <div>
                                        <div>14,0 г</div>
                                        <div>12,0 г</div>
                                        <div>48,0 г</div>
                                        <div>323,0 ккал</div>
                                    </div>
                                </div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>Состав: мука, сахар, какао, ванилин, масло сливочное, меланж, молоко сгущенное, коньяк, сода, кефир, вино, кислота лимонная.</div>
                                </div>
                                <button class="layer-slider__button button button_blue">выбрать</button>
                            </div>
                        </div>
                        <div class="layer-slider__slide">
                            <div class="layer-slider__info">
                                <h3>Медовый</h3>
                                <div class="layer-slider__paragraph">
                                    <div>Идеальное сочетание насыщенного вкуса бискивта на сметане с какао  и масленного крема с добавлением уваренного сгущенного молока. Необыкновенный торт для сладкоежек.</div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>В 100г продукта содержится:</div>
                                <div class="flex_between">
                                    <div>
                                        <div>Белки:</div>
                                        <div>Жири:</div>
                                        <div>Углеводы:</div>
                                        <div>Энергетическая ценность:</div>  
                                    </div>
                                    <div>
                                        <div>14,0 г</div>
                                        <div>12,0 г</div>
                                        <div>48,0 г</div>
                                        <div>323,0 ккал</div>
                                    </div>
                                </div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>Состав: мука, сахар, какао, ванилин, масло сливочное, меланж, молоко сгущенное, коньяк, сода, кефир, вино, кислота лимонная.</div>
                                </div>
                                <button class="layer-slider__button button button_blue">выбрать</button>
                            </div>
                        </div>
                        <div class="layer-slider__slide">
                            <div class="layer-slider__info">
                                <h3>Корж из слоеного теста</h3>
                                <div class="layer-slider__paragraph">
                                    <div>Идеальное сочетание насыщенного вкуса бискивта на сметане с какао  и масленного крема с добавлением уваренного сгущенного молока. Необыкновенный торт для сладкоежек.</div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>В 100г продукта содержится:</div>
                                <div class="flex_between">
                                    <div>
                                        <div>Белки:</div>
                                        <div>Жири:</div>
                                        <div>Углеводы:</div>
                                        <div>Энергетическая ценность:</div>  
                                    </div>
                                    <div>
                                        <div>14,0 г</div>
                                        <div>12,0 г</div>
                                        <div>48,0 г</div>
                                        <div>323,0 ккал</div>
                                    </div>
                                </div>
                                </div>
                                <div class="layer-slider__paragraph">
                                <div>Состав: мука, сахар, какао, ванилин, масло сливочное, меланж, молоко сгущенное, коньяк, сода, кефир, вино, кислота лимонная.</div>
                                </div>
                                <button class="layer-slider__button button button_blue">выбрать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>