<div class="menu-line">
    <div class="wrapper flex">
        <nav class="navbar">
            <ul class="menu">
                <li class="menu__item menu__item_company">
                    <a href="#">О компании</a>
                </li>
                <li class="menu__item menu__item_news">
                    <a href="#">Новости</a>
                </li>
                <li class="menu__item menu__item_order">
                    <a href="#">Заказать торт</a>
                </li>
                <li class="menu__item menu__item_bonus">
                   <a href="#">Бонусы</a>
                </li>
                <li class="menu__item menu__item_contacts">
                   <a href="#">Контакты</a>
                </li>
                <li class="menu__item menu__item_delivery">
                   <a href="#">Доставка и оплата</a>
                </li>
            </ul>
        </nav>
        <a href="#" class="wholesale">
            <div class="wholesale__icon"></div>
            <div>Оптовым клиентам</div>
        </a>
    </div>
</div>