<div class="slider">
    <div class="wrapper">
        <div class="slider__inner">
            <div>
                <img class="slider__img" src="images/img-slide1.png" alt="макаронс">
                <div class="slider__banner banner">
                    <div class="banner__discount">скидка</div>
                    <div class="banner__percent">20%</div>
                    <div class="banner__happy-hours">СЧАСТЛИВЫЕ ЧАСЫ</div>
                    <div class="banner__time">21:00 - 22:00</div>
                    <a href="#" class="banner__button">ПОДРОБНЕЕ</a>
                </div>
            </div>
            <div>
                <div class="slider__img"></div>
                <div class="slider__banner banner">
                    <div class="banner__discount">скидка</div>
                    <div class="banner__percent">30%</div>
                    <div class="banner__happy-hours">СЧАСТЛИВЫЕ ЧАСЫ</div>
                    <div class="banner__time">21:00 - 22:00</div>
                    <a href="#" class="banner__button">ПОДРОБНЕЕ</a>
                </div>
            </div>
            <div>
                <div class="slider__img"></div>
                <div class="slider__banner banner">
                    <div class="banner__discount">скидка</div>
                    <div class="banner__percent">40%</div>
                    <div class="banner__happy-hours">СЧАСТЛИВЫЕ ЧАСЫ</div>
                    <div class="banner__time">21:00 - 22:00</div>
                    <a href="#" class="banner__button">ПОДРОБНЕЕ</a>
                </div>
            </div>
        </div>
    </div>
</div>