@import "parts/jquery.fancybox.min.css";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/menu.less";
@import "parts/slider.less";
@import "parts/designer.less";
@import "parts/layer-slider.less";
@import "parts/ui-slider-range.less";
@import "parts/footer.less";

/*main-screen*/

.main-screen {
    background: url(../images/background/main-background.png) repeat center;
    background-size: cover;
	padding: 50px 0 100px;
}

.main-screen_home {
	padding: 100px 0 170px;
	position: relative;
}

.main-screen_home:before {
    content: "";
    background: url(../../images/boy.png) no-repeat center;
    width: 200px;
    height: 320px;
    position: absolute;
    left: 5px;
    top: 75px;
}

/*catalog*/

.catalog {
    background: #f7fbfe;
    position: relative;
}

.catalog_home {
    margin-bottom: 275px;
	z-index: 1;
}

.catalog__item {
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    width: 33.3333%;
    padding: 40px 20px;
}

.catalog__item:hover {
    border-radius: 5px;
    background: rgba(238, 190, 108, 0.5);
}

.catalog__caption {
    font-size: 50px;
    color: rgb(63, 67, 64);
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.catalog__img {
    width: 100%;   
}

.catalog__leaks {
    background: url(../images/catalog/catalogleaks.png) no-repeat center;
    background-size: cover;
    height: 116px;
    width: 100%;
    position: absolute;
    bottom: -114px;
}

/*advantages*/

.advantages {
    background: url(../images/background/advabtages-back.png) repeat center rgba(246,251,254,0.7);
    background-size: contain;
    box-sizing: border-box;
    border-top: 5px solid rgb(245, 203, 201);
    border-bottom: 5px solid rgb(245, 203, 201);
	position: relative;
	z-index: 1;
}

.advantages:before {
    content: "";
    background: url(../../images/dog.png) no-repeat center;
    width: 110px;
    height: 75px;
    position: absolute;
    right: 193px;
    top: -73px;
}

.advantages__caption {
    font-size: 104px;
    color: rgb(63, 67, 64);
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 10px 14.7px rgba(0, 0, 0, 0.41);
    -webkit-text-stroke: 2px #eebe6c;
}

.animals {
    background: url(../images/background/animals-back.png) no-repeat center bottom;
    background-size: 80% 100%;
    padding-bottom: 333px;
}

.animals__cloud {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
    height: 325px;
    padding-top: 80px
}

.animals__text {
    font-size: 33px;
    color: rgba(63, 67, 64, 0.9);
    text-align: center;
    max-width: 170px;
}

.animals__text span {
    text-transform: uppercase;
}

.animals__cloud_1 {
    background: url(../images/background/cloud1.png) no-repeat center;
    background-size: 100%;
}

.animals__cloud_2 {
    background: url(../images/background/cloud2.png) no-repeat center;
    background-size: 100%;
}

.animals__text_cloud_2 {
    transform: rotate(8deg);
}

.animals__cloud_3 {
    background: url(../images/background/cloud3.png) no-repeat center;
    background-size: 100%;
}

.animals__text_cloud_3 {
    transform: rotate(345deg);
}

.animals__cloud_4 {
    background: url(../images/background/cloud4.png) no-repeat center;
    background-size: 100%;
}

.animals__text_cloud_4 {
    transform: rotate(5deg);
}

/*catalog-page*/

.main-screen_inner-page {
	background: url(../images/background/inner-page.png) repeat center;
	background-size: contain;
	margin-top: -50px;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.breadcrumbs li {
    display: inline-block;
    position: relative;
}

.breadcrumbs li a {
    display: inline-block;
	font-size: 21px;
	color: rgb(47, 44, 43);
    text-decoration: none;
}

.breadcrumbs .slash {
    font-size: 21px;
}

.breadcrumbs .breadcrumbs_home {
	font-weight: 700;
	text-decoration: underline;
}

.inner-caption {
    font: 700 62px "FinchFrame3";
    text-align: center;
}

.inner-caption_small {
    font: 700 25px "FinchFrame3";
    text-align: center;
}

.catalog-page__sort {
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.select-caption {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.select {
    position: relative;
}

.select_price {
	margin-left: 15px;
}

.select__field {
    background: rgb(255,255,255);
	border: 1px solid rgb(63, 67, 64);
	border-radius: 2px;
    font-size: 20px;
	color: rgb(77, 73, 72);
	box-shadow: 0px 5px 16px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: default;
}

.select__field_price{
	width: 300px;
}

.select .select__field:before {
    content: '';
    background: url(../images/icons/select.png) no-repeat center;
    position: absolute;
    width: 20px;
    height: 40px;
    top: 1px;
    right: 1px;
}

.select ul {
    display: none;
    background-color: rgba(77, 73, 72, 0.9);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 43px;
    left: 0;
    z-index: 1;
}

.select ul li {
    display: block;
    box-sizing: border-box;
    width: 100%;
	font-size: 20px;
	color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: default;
}

.select ul li:hover {
    background-color: #878383;
}

.catalog-page__content {
    margin-top: 50px;
}

.catalog-filters {
    box-sizing: border-box;
    width: 300px;
    border-radius: 2px;
    background: #f6fbfe;
    box-shadow: 0 7px 7.8px 2.2px rgba(0,0,0,.2);
    padding: 5px 20px;
    margin-right: 20px;
	position: relative;
}

.catalog-filters:after {
	content: "";
	background: url(../images/catalog/catalog-girl.png) no-repeat center;
	width: 125px;
	height: 155px;
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.catalog-filters__caption {
    font-size: 41px;
    color: rgb(77, 73, 72);
    text-align: center;
    margin-bottom: 5px;
	letter-spacing: 3px;
}

.catalog-filters__question {
    font: 700 33px "FinchFrame3";
    border-top: 2px solid  rgb(238, 190, 108);
    cursor: pointer;
    position: relative;
	padding-left: 10px;
	position: relative;
	z-index: 1;
}

.catalog-filters__question::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 33px;
    font-weight: 700;
}

.catalog-filters__question_active::after {
    content: "-";
}

.catalog-filters__answer {
    padding: 10px 0;
	position: relative;
	z-index: 1;
}

.checkbox-label {
    display: block;
    box-sizing: border-box;
    width: 33.3333%;
	font-size: 20px;
    position: relative;
    padding-left: 25px;
}

.checkbox-label::before {
    content: "";
    border: 1px solid rgb(214, 207, 196);
    background: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
	top: 2px;
}

.checkbox-label.active::before {
    background: #eebe6c;
}

.catalog-filters__button {
	text-transform: none;
	width: 100%;
	margin-top: 30px;
	padding: 0 30px;
    position: relative;
	z-index: 1;
}

.catalog-plates {
    flex: 1;
    margin: 0 -10px -20px;
}

.catalog-plates__plate-wr {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 10px 20px;
}

.catalog-plates__plate {
    background: rgba(246, 251, 254, 0.8);
}

.catalog-plates__info {
    padding: 5px 15px;
}

.catalog-plates__photo {
    display: block;
    background: url(../images/catalog/red-cake.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 225px;
    font-size: 0;
	position: relative;
}

.catalog-plates__composition {
	display: none;
	background-color: rgba(63, 67, 64, 0.8);
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	font-size: 25px;
	color: rgb(246, 251, 254);
}

.catalog-plates__composition-caption {
	font-size: 33.333px;
	font-weight: 700;
}

.catalog-plates__photo:hover .catalog-plates__composition {
	display: block;
}

.catalog-plates__name {
    font: 700 33px "FinchFrame3";
    color: rgb(63, 67, 64);
	padding-left: 10px;
}

.catalog-plates__filters {
	justify-content: space-around;
	align-items: center;
}

.select__field_plates {
	width: 90px;
	box-shadow: none;
	padding: 5px 10px;
}

.select .select__field_plates:before{
	background: url(../images/icons/select.png) no-repeat center #f6fbfe;
	height: 30px;
}

.select .select__field_plates:after {
	content: "";
	background: rgba(63, 67, 64, 0.5);
	width: 1px;
	height: 16px;
	position: absolute;
	right: 20px;
	top: 7px;
}

.select_plates ul {
    top: 33px;
}

.main_number_plugin{
    position: relative;
}

.main_number_plugin:before {
    content: '';
    background: #f6fbfe;
    position: absolute;
    width: 20px;
    height: 30px;
    top: 1px;
    right: 1px;
    z-index: 1;
}

.main_number_plugin:after {
	content: "";
	background: rgba(63, 67, 64, 0.5);
	width: 1px;
	height: 16px;
	position: absolute;
	right: 21px;
	top: 7px;
}

.input_plugin_number{
    box-sizing: border-box;
    border-radius: 2px;
    padding-left: 10px;
    border: 1px solid rgb(63, 67, 64);
    outline: none;
	position: relative;
}

.plus_plugin_number{
    width: 0px;
    border: 5px solid transparent;
    border-bottom: 7px solid #5e5a5a;
    position: absolute;
    top: 5%;
    right: 5px;
    cursor: pointer;
	z-index: 2;
}

.minus_plugin_number{
    width: 0px;
    border: 5px solid transparent;
    border-top: 7px solid #5e5a5a;
    position: absolute;
    top: 60%;
    right: 5px;
    cursor: pointer;
	z-index: 2;
}

.catalog-plates__price {
    font: 700 41px "FinchFrame3";
}

.catalog-plates__button {
	margin: 10px;
	width: 100%;
}

/*card-page*/

.sheet-torn {
    background: url(../images/background/sheet-torn.png) no-repeat repeat center;
    background-size: 100%;
    padding: 0 70px;
    position: relative;
	margin: 200px 0 150px;
}

.sheet-torn_top {
    background: url(../images/background/card_background-top.png) no-repeat bottom;
    background-size: contain;
    width: 100%;
    height: 146px;
    position: absolute;
    top: -145px;
    left: 0;
}

.sheet-torn_bottom {
    background: url(../images/background/card_background-bottom.png) no-repeat center top;
    background-size: 100%;
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: -125px;
    left: 0;
}

.caption {
	font: 700 62.5px "FinchFrame3";
	color: rgb(63, 67, 64);
	text-align: center;
	margin-bottom: 40px;
}

.card-info__column {
	width: 50%;
	padding: 0 15px;
}

.card-info__column_text {
	flex: 1;
}

.card-info__photo {
	background: url(../images/formicary.png) no-repeat center rgb(246, 251, 254);
	background-size: contain;
	box-shadow: 0px 7px 7.8px 2.2px rgba(1, 3, 0, 0.2);
	width: 100%;
	height: 425px;
}

.card__filters {
    justify-content: space-around;
    align-items: center;
	margin-top: 10px;
}

.card-info__input-number .input_plugin_number {
    width: 65px;
    height: 32px;
}

@media screen and (min-width: 1024px) {
	.select__field_card {
		width: 140px;
		box-shadow: none;
		padding: 5px 10px;
		font-size: 33px;
	}

	.select .select__field_card:before{
		background: url(../images/icons/select.png) no-repeat center #f6fbfe;
		height: 43px;
		width: 30px;
	}

	.select .select__field_card:after {
		content: "";
		background: rgba(63,67,64,.5);
		width: 1px;
		height: 25px;
		position: absolute;
		right: 30px;
		top: 10px;
	}

	.select_card ul {
		top: 46px;
	}

	.card-info__input-number .main_number_plugin:before {
		width: 30px;
		height: 43px;
	}

	.card-info__input-number .input_plugin_number {
		font-size: 33px;
		width: 95px;
    	height: 45px;
	}

	.card-info__input-number .minus_plugin_number {
		right: 10px;
	}

	.card-info__input-number .plus_plugin_number {
		right: 10px;
		top: 10%;
	}
}

.card__price {
	font-size: 62px;
	font-weight: 700;
}

.paragraph {
	font-size: 37.5px;
	color: rgb(0, 0, 0);
	margin-bottom: 15px;
}

.more-info {
    background: url(../images/icons/select.png) no-repeat center;
    width: 20px;
    height: 40px;
    margin: 0 auto;
}

.more-info_active {
	display: none;
}

.paragraph_remark {
	font-size: 41px;
	color: rgb(0, 0, 0);
	text-align: center;
}

.card__filters_mobile {
	display: none;
}

.card-buttons {
	margin: 10px 0;
	flex-wrap: nowrap;
}

.card-buttons_button {
    text-transform: none;
    padding: 7px 15px;
	width: 49%;
}

.button_card {
	width: 100%;
	text-transform: none;
}

.card-page footer:before {
	display: none;
}

/*cart*/

.sheet-torn_top-cart {
	background: url(../images/background/cart_background-top.png) no-repeat bottom;
	background-size: 100%;
	top: -127px;
}

.sheet-torn_bottom-cart {
	background: url(../images/background/cart_background-bottom.png) no-repeat top;
	background-size: 100%;
}

.cart-line {
	border-bottom: 1px solid rgb(8, 8, 7);
	padding: 5px 0 10px;
	width: 95%;
	position: relative;
}

.cart-line__left {
	align-items: center;
	width: 300px;
}

.cart-line__right {
	align-items: center;
}

.cart-line__fixed {
	width: 100px;
	text-align: center;
}

.cart-line__caption {
	font: 700 29px "FinchFrame3";
	color: rgb(63, 67, 64);
	text-align: center;
}

.cart-line__photo {
	border-radius: 2px;
	background: url(../images/formicary.png) no-repeat rgb(246, 251, 254);
	background-size: contain;
	box-shadow: 0px 7px 7.8px 2.2px rgba(1, 3, 0, 0.2);
	width: 171px;
	height: 130px;
	margin-right: 20px;
}

.cart-line__name {
	font: 700 29px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.cart-line__weight {
	font-size: 33.333px;
	color: rgb(63, 67, 64);
}

.cart-line .main_number_plugin {
    margin: 0 auto;
}

.cart-line .input_plugin_number {
	font-size: 25px;
}

.cart-line__price {
	font: 700 33px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.cart-line__delete {
    background: url(../images/icons/delete-button.png) no-repeat center;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -40px;
    top: 53px;
}

.cart-line_bottom {
	margin-top: 30px;
}

.bonus-banner{
	border: 2px solid rgb(0, 0, 0);
	background: url(../images/background/bonus-background.png) rgba(246, 251, 254, 0.8);
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	max-width: 666px;
	height: 180px;
	flex: 1;
	padding: 15px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.bonus-banner__balance {
	font: 700 24px "FinchFrame3";
	color: rgb(63, 67, 64);
	margin-bottom: 15px;
}

.bonus-banner__use {
	font-size: 21px;
	color: rgb(63, 67, 64);
}

.bonus-banner__ui-slider {
	border-radius: 2px;
	background: rgba(240, 232, 193, 0.7);
	box-shadow: 0px 10px 19px 1px rgba(1, 3, 0, 0.5);
	width: 100%;
	height: 40px;
	margin: 5px 0 10px;
	padding: 15px 25px;
}

.bonus-banner__info {
	display: inline-block;
	font-size: 21px;
	color: rgb(63, 67, 64);
	text-decoration: underline;
	position: relative;
	padding-left: 25px;
}

.bonus-banner__info:before {
	content: "";
	background: url(../images/icons/info.png) no-repeat center;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
}

.bonus-banner__info_details {
	display: none;
	border-radius: 10px;
	background-color: rgb(246, 251, 254);
	width: 600px;
	height: 401px;
}

.bonus-info__caption {
	font: 700 40px "FinchFrame3";
	color: rgb(55, 54, 54);
	text-transform: uppercase;
	text-align: center;
}

.bonus-info__paragraph {
	font-size: 25px;
	color: rgb(55, 54, 54);
	margin: 10px 0;
}

.bonus-banner__button {
	text-transform: none;
}

.login-window {
	display: none;
	border-radius: 10px;
	background: url(../images/background/authorization.png) repeat center;
	padding: 30px 150px;
}

.login-window .flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-window__caption {
	font: 700 40px "FinchFrame3";
	color: rgb(77, 73, 72);
	text-transform: uppercase;
}

.login-window__button {
	text-transform: none;
}

.login-window__terms {
	font: 700 20px "FinchFrame3";
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
}

.cart-total {
	font: 700 50px "FinchFrame3";
	color: rgb(63, 67, 64);
	max-width: 350px; 
	flex: 1;
}

.cart-total .flex {
	justify-content: space-around;
}

.cart-page__button {
    width: 100%;
	padding: 0 30px;
}

.cart-page .sheet-torn:before {
    content: "";
    background: url(../images/boy-cart.png) no-repeat center;
    width: 120px;
    height: 150px;
    position: absolute;
    right: 40%;
    bottom: -324px;
}

.cart-page footer:before {
	display: none;
}

/*checkout-page*/

.checkout-page .sheet-torn {
	background: url(../images/background/checkout-background.png) repeat center;
	background-size: 100%;
}

.checkout-page .sheet-torn:before {
    content: "";
    background: url(../images/background/girl-checkout.png) no-repeat center;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -21px;
    right: 100px;
    z-index: 1;
}

.checkout-caption {
	font: 700 37px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.checkout-bordered {
	border-top: 1px solid rgb(8, 8, 7);
	border-bottom: 1px solid rgb(8, 8, 7);
}

.checkout-bordered__columns {
	margin: 0 -20px
}

.checkout-bordered__column {
	box-sizing: border-box;
	width: 50%;
	padding: 0 20px;
}

.checkout-page .input-wrapper {
    max-width: 350px;
    margin: 10px auto;
}

.checkout-page .input {
	border: 1px solid rgb(77, 73, 72);
	border-radius: 5px;
	box-shadow: none;
}

.checkout-page .input-data-label {
    right: 7px;
	top: 29px;
}

.checkout-page .textarea-wrapper {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.checkout-page .textarea {
	border: 1px solid rgb(63, 67, 64);
	border-radius: 5px;
	max-width: 890px;
}

.select_checkout {
	width: 350px;
	margin: 0 auto;
}

.select__field_checkout {
    width: 100%;
	box-shadow: none;
    padding: 6px 10px;
	border: 1px solid rgb(63, 67, 64);
	border-radius: 5px;
	font-size: 29px;
}

.select .select__field_checkout:before {
    height: 39px;
    right: 2px;
    width: 30px;
}

.select .select__field_checkout:after {
    height: 21px;
    right: 31px;
    top: 9px;
}

.address-inputs {
	max-width: 370px;
	margin: 0 auto;
}

.address-inputs .input-wrapper {
	width: 50%;
	padding: 0 10px;
}

.checkout-total {
	border-radius: 5px;
	background-color: rgb(246, 251, 254);
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	width: 100%;
	max-width: 940px;
	padding: 20px;
	margin: 20px auto;
	position: relative;
}

.checkout-total:before {
    content: "";
    background: url(../images/dog.png) no-repeat center;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -65px;
    right: -22px;
    z-index: 1;
}

.checkout-total__line {
	width: 250px;
}

.checkout-total__argument {
	font: 400 29px "FinchFrame3";
	color: rgb(77, 73, 72);
	line-height: 1;
}

.checkout-total__amount {
	font: 700 25px "FinchFrame3";
	color: rgb(77, 73, 72);
	text-align: right;
	line-height: 1;
}

.checkout-total__final-step {
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.checkout-total__term {
	box-sizing: border-box;
	font: 400 25px "FinchFrame3";
	color: rgb(77, 73, 72);
	text-align: center;
	width: 60%;
	max-width: 350px;
	padding: 0 20px;
}

.checkout-total__button {
	width: 40%;
}

.checkout-page footer:before {
	display: none;
}






/*media*/

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
	
	.catalog-filters {
		width: 240px;
	}
	
	.catalog-plates__plate-wr {
		box-sizing: border-box;
		width: 50%;
		padding: 0 10px 20px;
	}
	
	.sheet-torn {
		padding: 0 10px;
	}
	
	.cart-page .sheet-torn {
		padding: 0 35px;
	}
}

@media screen and (max-width: 1023px) {
    .catalog__item {
        width: 50%;
    }
    
    .animals {
        background: none;
        padding-bottom: 50px;
    }
    
    .animals__cloud {
        width: 50%;
    }
    
    .animals__cloud_1, .animals__cloud_2, .animals__cloud_3 , .animals__cloud_4 {
        background-size: contain;
    }
	
	.catalog-plates__plate-wr {
		width: 50%;
	}
	
	.catalog-plates__info {
		padding: 5px;
	}
	
	.paragraph {
	  font-size: 28px;
	}
	
	.paragraph_remark {
		font-size: 30px;
	}

	.card-buttons_button, .button_card {
		font-size: 28px;
		padding: 7px 10px;
	}
	
	.card__price {
		font-size: 32px;
	}
}

@media screen and (max-width: 767px) {
	
	.main-screen_inner-page {
		margin: 0;
	}
	
	.catalog-filters {
		display: none;
	}
	
	.card-info {
		flex-direction: column;
	}
	
	.card-info__column {
		width: 100%;
	}
	
	.card-info__photo {
		margin-bottom: 15px;
	}
	
	.card-buttons {
		margin: 20px 0;
	}
	
	.cart-line {
		width: 100%;
	}

	.cart-line__top {
		display: none;
	}
	
	.cart-line, .cart-line__left, .cart-line_bottom {
		flex-direction: column;
		align-items: center;
	}
	
	.cart-line {
		max-width: 400px;
		margin: 0 auto 20px;
	}
	
	.cart-line__delete {
		position: static;
	}
	
	.bonus-banner {
		margin: 0;
		width: 100%;
	}
	
}

@media screen and (max-width: 639px) {
    .catalog__item {
        width: 100%;
    }
    
    .animals__cloud {
        width: 100%;
    }
	
	.sheet-torn {
		margin: 100px 0;
	}
	
	.catalog-plates__plate-wr {
		width: 100%;
	}
	
	.select__field_price {
		width: 200px;
	}	
}

@media screen and (max-width: 500px) {
	.button_card, .card-buttons_button {
		font-size: 18px;
	}
	
	.sheet-torn {
		background: rgba(247,251,254,.8);
		margin: 20px 0;
		padding: 30px 15px;
	}
	
	.cart-page .sheet-torn {
		padding: 30px 15px;
	}
	
	.sheet-torn_top {
		display: none;
	}
	
	.sheet-torn_bottom {
		display: none;
	}

	.cart-line__fixed {
		width: auto;
		padding: 0 10px;
	}
}