@import "parts/jquery.fancybox.min.css";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/menu.less";
@import "parts/slider.less";
@import "parts/designer.less";
@import "parts/layer-slider.less";
@import "parts/ui-slider-range.less";
@import "parts/footer.less";

/*main-screen*/

.main-screen {
    background: url(../images/background/main-background.png) repeat center;
    background-size: cover;
	padding: 50px 0 100px;
}

.main-screen_home {
	padding: 100px 0 170px;
	position: relative;
}

.main-screen_home:before {
    content: "";
    background: url(../../images/boy.png) no-repeat center;
    width: 200px;
    height: 320px;
    position: absolute;
    left: 5px;
    top: 75px;
}

/*catalog*/

.catalog {
    background: #f7fbfe;
    position: relative;
}

.catalog_home {
    margin-bottom: 275px;
	z-index: 1;
}

.catalog__item {
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    width: 33.3333%;
    padding: 40px 20px;
}

.catalog__item:hover {
    border-radius: 5px;
    background: rgba(238, 190, 108, 0.5);
}

.catalog__caption {
    font-size: 50px;
    color: rgb(63, 67, 64);
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.catalog__img {
    width: 100%;   
}

.catalog__leaks {
    background: url(../images/catalog/catalogleaks.png) no-repeat center;
    background-size: cover;
    height: 116px;
    width: 100%;
    position: absolute;
    bottom: -114px;
}

/*advantages*/

.advantages {
    background: url(../images/background/advabtages-back.png) repeat center rgba(246,251,254,0.7);
    background-size: contain;
    box-sizing: border-box;
    border-top: 5px solid rgb(245, 203, 201);
    border-bottom: 5px solid rgb(245, 203, 201);
	position: relative;
	z-index: 1;
}

.advantages:before {
    content: "";
    background: url(../../images/dog.png) no-repeat center;
    width: 110px;
    height: 75px;
    position: absolute;
    right: 193px;
    top: -73px;
}

.advantages__caption {
    font-size: 104px;
    color: rgb(63, 67, 64);
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 10px 14.7px rgba(0, 0, 0, 0.41);
    -webkit-text-stroke: 2px #eebe6c;
}

.animals {
    background: url(../images/background/animals-back.png) no-repeat center bottom;
    background-size: 80% 100%;
    padding-bottom: 333px;
}

.animals__cloud {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
    height: 325px;
    padding-top: 80px
}

.animals__text {
    font-size: 33px;
    color: rgba(63, 67, 64, 0.9);
    text-align: center;
    max-width: 170px;
}

.animals__text span {
    text-transform: uppercase;
}

.animals__cloud_1 {
    background: url(../images/background/cloud1.png) no-repeat center;
    background-size: 100%;
}

.animals__cloud_2 {
    background: url(../images/background/cloud2.png) no-repeat center;
    background-size: 100%;
}

.animals__text_cloud_2 {
    transform: rotate(8deg);
}

.animals__cloud_3 {
    background: url(../images/background/cloud3.png) no-repeat center;
    background-size: 100%;
}

.animals__text_cloud_3 {
    transform: rotate(345deg);
}

.animals__cloud_4 {
    background: url(../images/background/cloud4.png) no-repeat center;
    background-size: 100%;
}

.animals__text_cloud_4 {
    transform: rotate(5deg);
}

/*catalog-page*/

.main-screen_inner-page {
	background: url(../images/background/inner-page.png) repeat center;
	background-size: contain;
	margin-top: -50px;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.breadcrumbs li {
    display: inline-block;
    position: relative;
}

.breadcrumbs li a {
    display: inline-block;
	font-size: 21px;
	color: rgb(47, 44, 43);
    text-decoration: none;
}

.breadcrumbs .slash {
    font-size: 21px;
}

.breadcrumbs .breadcrumbs_home {
	font-weight: 700;
	text-decoration: underline;
}

.inner-caption {
    font: 700 62px "FinchFrame3";
    text-align: center;
}

.inner-caption_small {
    font: 700 25px "FinchFrame3";
    text-align: center;
}

.catalog-page__sort {
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.select-caption {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.select {
    position: relative;
}

.select_price {
	margin-left: 15px;
}

.select__field {
    background: rgb(255,255,255);
	border: 1px solid rgb(63, 67, 64);
	border-radius: 2px;
    font-size: 20px;
	color: rgb(77, 73, 72);
	box-shadow: 0px 5px 16px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: default;
}

.select__field_price{
	width: 300px;
}

.select .select__field:before {
    content: '';
    background: url(../images/icons/select.png) no-repeat center;
    position: absolute;
    width: 20px;
    height: 40px;
    top: 1px;
    right: 1px;
}

.select ul {
    display: none;
    background-color: rgba(77, 73, 72, 0.9);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 43px;
    left: 0;
    z-index: 1;
}

.select ul li {
    display: block;
    box-sizing: border-box;
    width: 100%;
	font-size: 20px;
	color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: default;
}

.select ul li:hover {
    background-color: #878383;
}

.catalog-page__content {
    margin-top: 50px;
}

.catalog-filters {
    box-sizing: border-box;
    width: 300px;
    border-radius: 2px;
    background: #f6fbfe;
    box-shadow: 0 7px 7.8px 2.2px rgba(0,0,0,.2);
    padding: 5px 20px;
    margin-right: 20px;
	position: relative;
}

.catalog-filters:after {
	content: "";
	background: url(../images/catalog/catalog-girl.png) no-repeat center;
	width: 125px;
	height: 155px;
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.catalog-filters__caption {
    font-size: 41px;
    color: rgb(77, 73, 72);
    text-align: center;
    margin-bottom: 5px;
	letter-spacing: 3px;
}

.catalog-filters__question {
    font: 700 33px "FinchFrame3";
    border-top: 2px solid  rgb(238, 190, 108);
    cursor: pointer;
    position: relative;
	padding-left: 10px;
	position: relative;
	z-index: 1;
}

.catalog-filters__question::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 33px;
    font-weight: 700;
}

.catalog-filters__question_active::after {
    content: "-";
}

.catalog-filters__answer {
    padding: 10px 0;
	position: relative;
	z-index: 1;
}

.checkbox-label {
    display: block;
    box-sizing: border-box;
    width: 33.3333%;
	font-size: 20px;
    position: relative;
    padding-left: 25px;
}

.checkbox-label::before {
    content: "";
    border: 1px solid rgb(214, 207, 196);
    background: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
	top: 2px;
}

.checkbox-label.active::before {
    background: #eebe6c;
}

.catalog-filters__button {
	text-transform: none;
	width: 100%;
	margin-top: 30px;
	padding: 0 30px;
    position: relative;
	z-index: 1;
}

.catalog-plates {
    flex: 1;
    margin: 0 -10px -20px;
}

.catalog-plates__plate-wr {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 10px 20px;
}

.catalog-plates__plate {
    background: rgba(246, 251, 254, 0.8);
}

.catalog-plates__info {
    padding: 5px 15px;
}

.catalog-plates__photo {
    display: block;
    background: url(../images/catalog/red-cake.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 225px;
    font-size: 0;
	position: relative;
}

.catalog-plates__composition {
	display: none;
	background-color: rgba(63, 67, 64, 0.8);
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	font-size: 25px;
	color: rgb(246, 251, 254);
}

.catalog-plates__composition-caption {
	font-size: 33.333px;
	font-weight: 700;
}

.catalog-plates__photo:hover .catalog-plates__composition {
	display: block;
}

.catalog-plates__name {
    font: 700 33px "FinchFrame3";
    color: rgb(63, 67, 64);
	padding-left: 10px;
}

.catalog-plates__filters {
	justify-content: space-around;
	align-items: center;
}

.select__field_plates {
	width: 90px;
	box-shadow: none;
	padding: 5px 10px;
}

.select .select__field_plates:before{
	background: url(../images/icons/select.png) no-repeat center #f6fbfe;
	height: 30px;
}

.select .select__field_plates:after {
	content: "";
	background: rgba(63, 67, 64, 0.5);
	width: 1px;
	height: 16px;
	position: absolute;
	right: 20px;
	top: 7px;
}

.select_plates ul {
    top: 33px;
}

.main_number_plugin{
    position: relative;
}

.main_number_plugin:before {
    content: '';
    background: #f6fbfe;
    position: absolute;
    width: 20px;
    height: 30px;
    top: 1px;
    right: 1px;
    z-index: 1;
}

.main_number_plugin:after {
	content: "";
	background: rgba(63, 67, 64, 0.5);
	width: 1px;
	height: 16px;
	position: absolute;
	right: 21px;
	top: 7px;
}

.input_plugin_number{
    box-sizing: border-box;
    border-radius: 2px;
    padding-left: 10px;
    border: 1px solid rgb(63, 67, 64);
    outline: none;
	position: relative;
}

.plus_plugin_number{
    width: 0px;
    border: 5px solid transparent;
    border-bottom: 7px solid #5e5a5a;
    position: absolute;
    top: 5%;
    right: 5px;
    cursor: pointer;
	z-index: 2;
}

.minus_plugin_number{
    width: 0px;
    border: 5px solid transparent;
    border-top: 7px solid #5e5a5a;
    position: absolute;
    top: 60%;
    right: 5px;
    cursor: pointer;
	z-index: 2;
}

.catalog-plates__price {
    font: 700 41px "FinchFrame3";
}

.catalog-plates__button {
	margin: 10px;
	width: 100%;
}

/*card-page*/

.sheet-torn {
    background: url(../images/background/sheet-torn.png) no-repeat repeat center;
    background-size: 100%;
    padding: 0 70px;
    position: relative;
	margin: 200px 0 150px;
}

.sheet-torn_top {
    background: url(../images/background/card_background-top.png) no-repeat bottom;
    background-size: contain;
    width: 100%;
    height: 146px;
    position: absolute;
    top: -145px;
    left: 0;
}

.sheet-torn_bottom {
    background: url(../images/background/card_background-bottom.png) no-repeat center top;
    background-size: 100%;
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: -125px;
    left: 0;
}

.caption {
	font: 700 62.5px "FinchFrame3";
	color: rgb(63, 67, 64);
	text-align: center;
	margin-bottom: 40px;
}

.card-info__column {
	width: 50%;
	padding: 0 15px;
}

.card-info__column_text {
	flex: 1;
}

.card-info__photo {
	background: url(../images/formicary.png) no-repeat center rgb(246, 251, 254);
	background-size: contain;
	box-shadow: 0px 7px 7.8px 2.2px rgba(1, 3, 0, 0.2);
	width: 100%;
	height: 425px;
}

.card__filters {
    justify-content: space-around;
    align-items: center;
	margin-top: 10px;
}

.card-info__input-number .input_plugin_number {
    width: 65px;
    height: 32px;
}

@media screen and (min-width: 1024px) {
	.select__field_card {
		width: 140px;
		box-shadow: none;
		padding: 5px 10px;
		font-size: 33px;
	}

	.select .select__field_card:before{
		background: url(../images/icons/select.png) no-repeat center #f6fbfe;
		height: 43px;
		width: 30px;
	}

	.select .select__field_card:after {
		content: "";
		background: rgba(63,67,64,.5);
		width: 1px;
		height: 25px;
		position: absolute;
		right: 30px;
		top: 10px;
	}

	.select_card ul {
		top: 46px;
	}

	.card-info__input-number .main_number_plugin:before {
		width: 30px;
		height: 43px;
	}

	.card-info__input-number .input_plugin_number {
		font-size: 33px;
		width: 95px;
    	height: 45px;
	}

	.card-info__input-number .minus_plugin_number {
		right: 10px;
	}

	.card-info__input-number .plus_plugin_number {
		right: 10px;
		top: 10%;
	}
}

.card__price {
	font-size: 62px;
	font-weight: 700;
}

.paragraph {
	font-size: 37.5px;
	color: rgb(0, 0, 0);
	margin-bottom: 15px;
}

.more-info {
    background: url(../images/icons/select.png) no-repeat center;
    width: 20px;
    height: 40px;
    margin: 0 auto;
}

.more-info_active {
	display: none;
}

.paragraph_remark {
	font-size: 41px;
	color: rgb(0, 0, 0);
	text-align: center;
}

.card__filters_mobile {
	display: none;
}

.card-buttons {
	margin: 10px 0;
	flex-wrap: nowrap;
}

.card-buttons_button {
    text-transform: none;
    padding: 7px 15px;
	width: 49%;
}

.button_card {
	width: 100%;
	text-transform: none;
}

.modal-window_one-click {
	background: url(../images/background/window-one-click.png) repeat center;
}

/*cart*/

.sheet-torn_top-cart {
	background: url(../images/background/cart_background-top.png) no-repeat bottom;
	background-size: 100%;
	top: -127px;
}

.sheet-torn_bottom-cart {
	background: url(../images/background/cart_background-bottom.png) no-repeat top;
	background-size: 100%;
}

.cart-line {
	border-bottom: 1px solid rgb(8, 8, 7);
	padding: 5px 0 10px;
	width: 95%;
	position: relative;
}

.cart-line__left {
	align-items: center;
	width: 300px;
}

.cart-line__right {
	align-items: center;
}

.cart-line__fixed {
	width: 100px;
	text-align: center;
}

.cart-line__caption {
	font: 700 29px "FinchFrame3";
	color: rgb(63, 67, 64);
	text-align: center;
}

.cart-line__photo {
	border-radius: 2px;
	background: url(../images/formicary.png) no-repeat rgb(246, 251, 254);
	background-size: contain;
	box-shadow: 0px 7px 7.8px 2.2px rgba(1, 3, 0, 0.2);
	width: 171px;
	height: 130px;
	margin-right: 20px;
}

.cart-line__name {
	font: 700 29px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.cart-line__weight {
	font-size: 33.333px;
	color: rgb(63, 67, 64);
}

.cart-line .main_number_plugin {
    margin: 0 auto;
}

.cart-line .input_plugin_number {
	font-size: 25px;
}

.cart-line__price {
	font: 700 33px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.cart-line__delete {
    background: url(../images/icons/delete-button.png) no-repeat center;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -40px;
    top: 53px;
}

.cart-line_bottom {
	margin-top: 30px;
}

.bonus-banner{
	border: 2px solid rgb(0, 0, 0);
	background: url(../images/background/bonus-background.png) rgba(246, 251, 254, 0.8);
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	max-width: 666px;
	height: 180px;
	flex: 1;
	padding: 15px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.bonus-banner__balance {
	font: 700 24px "FinchFrame3";
	color: rgb(63, 67, 64);
	margin-bottom: 15px;
}

.bonus-banner__use {
	font-size: 21px;
	color: rgb(63, 67, 64);
}

.bonus-banner__ui-slider {
	border-radius: 2px;
	background: rgba(240, 232, 193, 0.7);
	box-shadow: 0px 10px 19px 1px rgba(1, 3, 0, 0.5);
	width: 100%;
	height: 40px;
	margin: 5px 0 10px;
	padding: 15px 25px;
}

.bonus-banner__info {
	display: inline-block;
	font-size: 21px;
	color: rgb(63, 67, 64);
	text-decoration: underline;
	position: relative;
	padding-left: 25px;
}

.bonus-banner__info:before {
	content: "";
	background: url(../images/icons/info.png) no-repeat center;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
}

.bonus-banner__info_details {
	display: none;
	border-radius: 10px;
	background-color: rgb(246, 251, 254);
	width: 600px;
	height: 401px;
}

.bonus-info__caption {
	font: 700 40px "FinchFrame3";
	color: rgb(55, 54, 54);
	text-transform: uppercase;
	text-align: center;
}

.bonus-info__paragraph {
	font: 400 25px "FinchFrame3";
	color: rgb(55, 54, 54);
	margin: 10px 0;
}

.bonus-banner__button {
	text-transform: none;
}

.modal-window {
	display: none;
	border-radius: 10px;
	padding: 30px 15px;
	width: 600px;
}

.modal-window_login {
	background: url(../images/background/authorization.png) repeat center;
}

.modal-inner {
	flex-direction: column;
	align-items: center;
}

.modal-inner__caption {
	font: 700 40px "FinchFrame3";
	color: rgb(77, 73, 72);
	text-transform: uppercase;
}

.modal-inner__terms {
	font: 700 20px "FinchFrame3";
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	text-align: center;
	max-width: 300px;
}

.modal-inner .input {
	margin: 10px 0;
	border: 2px solid rgb(55, 54, 54);
	border-radius: 5px;
	max-width: 300px;
}

.modal-inner__button {
	margin: 20px 0 10px;
	font: 700 20px "FinchFrame3";
	color: rgb(105, 105, 105);
	text-transform: uppercase;
	width: 250px;
	border: 1px solid rgb(63, 67, 64);
	border-radius: 5px;
	background-color: rgb(246, 251, 254);
	box-shadow: 0px 2px 3.8px 0.2px rgba(1, 3, 0, 0.25);
}

.cart-total {
	font: 700 50px "FinchFrame3";
	color: rgb(63, 67, 64);
	max-width: 350px; 
	flex: 1;
}

.cart-total .flex {
	justify-content: space-around;
}

.cart-page__button {
    width: 100%;
	padding: 0 30px;
}

.cart-page .sheet-torn:before {
    content: "";
    background: url(../images/boy-cart.png) no-repeat center;
    width: 120px;
    height: 150px;
    position: absolute;
    right: 40%;
    bottom: -324px;
}

.cart-page footer:before {
	display: none;
}

/*checkout-page*/

.checkout-page .sheet-torn {
	background: url(../images/background/checkout-background.png) repeat center;
	background-size: 100%;
	padding: 0 130px;
}

.checkout-page .sheet-torn:before {
    content: "";
    background: url(../images/background/girl-checkout.png) no-repeat center;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -21px;
    right: 100px;
    z-index: 1;
}

.checkout-page form {
    position: relative;
    z-index: 1;
}

.checkout-delivery {
	padding: 0 40px 20px;
}

.checkout-caption {
	font: 700 37px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.radio-label.radio-label_big-black:before {
    border: 2px solid rgb(63, 67, 64);
    width: 16px;
    height: 16px;
	top: 13px;
}

.radio-label.radio-label_big-black:after {
	display: none;
	content: "";
    border: 2px solid rgb(63, 67, 64);
	border-radius: 50%;
    background-color: rgb(63, 67, 64);
    width: 8px;
    height: 8px;
	position: absolute;
    top: 17px;
    left: 4px;
}

.radio-wrapper.active .radio-label.radio-label_big-black:after {
    display: block;
}

.checkout-delivery__address {
	display: none;
	max-width: 350px;
	border: 1px solid rgb(63, 67, 64);
	background-color: rgb(246, 251, 254);
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	padding: 5px 15px;
	margin-left: 30px;
}

.checkout-delivery__address.active {
	display: block;
}

.checkout-bordered {
	border-top: 1px solid rgb(8, 8, 7);
	border-bottom: 1px solid rgb(8, 8, 7);
	padding: 20px 40px;
}

.checkout-bordered__columns {
	margin: 0 -20px
}

.checkout-bordered__column {
	box-sizing: border-box;
	width: 50%;
	padding: 0 20px;
}

.input-wrapper.input-wrapper_changed {
    max-width: 350px;
    margin: 10px auto;
}

.input-wrapper_changed .input-label {
    padding-left: 15px;
}

.input-wrapper_changed .input {
	border: 1px solid rgb(77, 73, 72);
	border-radius: 5px;
	box-shadow: none;
}

.input-wrapper_changed .input-data-label {
    right: 7px;
	top: 29px;
}

.checkout-page .textarea-wrapper {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.checkout-page .textarea {
	border: 1px solid rgb(63, 67, 64);
	border-radius: 5px;
	max-width: 890px;
}

.checkout-bordered__column_delivery {
	display: none;
}

.checkout-bordered__column_delivery.active {
	display: block;
}

.select_checkout {
    max-width: 350px;
    margin: 35px auto 0;
    width: 100%;
}

.select__field_checkout {
    width: 100%;
	box-shadow: none;
    padding: 6px 10px;
	border: 1px solid rgb(63, 67, 64);
	border-radius: 5px;
	font-size: 29px;
}

.select .select__field_checkout:before {
    height: 39px;
    right: 2px;
    width: 30px;
}

.select .select__field_checkout:after {
    height: 21px;
    right: 31px;
    top: 9px;
}

.address-inputs-wr {
	max-width: 350px;
	margin: 0 auto;
}

.address-inputs {
	margin: 0 -10px;
}

.address-inputs .input-wrapper {
	width: 50%;
	padding: 0 10px;
	margin: 5px 0;
}

.checkout-total {
	border-radius: 5px;
	background-color: rgb(246, 251, 254);
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	width: 100%;
	max-width: 940px;
	padding: 25px 50px;
	margin: 20px auto;
	position: relative;
}

.checkout-total:before {
    content: "";
    background: url(../images/dog.png) no-repeat center;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -65px;
    right: -22px;
    z-index: 1;
}

.checkout-total__line {
	width: 230px;
	margin-bottom: 15px
}

.checkout-total__argument {
	font: 400 29px "FinchFrame3";
	color: rgb(77, 73, 72);
	line-height: 1;
}

.checkout-total__amount {
	font: 700 25px "FinchFrame3";
	color: rgb(77, 73, 72);
	text-align: right;
	line-height: 1;
}

.checkout-total__final-step {
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.checkout-total__term {
	box-sizing: border-box;
	font: 400 25px "FinchFrame3";
	color: rgb(77, 73, 72);
	text-align: center;
	width: 60%;
	max-width: 350px;
	padding: 0 20px;
}

.checkout-total__button {
	border: 2px solid rgb(63, 67, 64);
	border-radius: 2px;
	background-color: rgb(63, 67, 64);
	width: 40%;
	max-width: 300px;
	padding: 5px 20px;
	font: 700 29px "FinchFrame3";
	color: rgba(246, 251, 254, 0.902);
	box-shadow: none;
}

.checkout-page footer:before {
	display: none;
}

/*account*/

.account-nav {
	justify-content: flex-end;
	margin: 40px 0 15px 270px;
}

.account-nav .button {
    margin-left: 10px;
    text-transform: none;
    font-size: 25px;
    padding: 5px 10px;
    width: 30%;
    max-width: 250px;
}

.account-photo {
	width: 300px;
	margin: 100px 20px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.account-photo__img {
    background: url(../images/icons/account-photo.png) no-repeat 40px 37px #3f4340;
    width: 300px;
    height: 296px;
    margin-bottom: 20px;
}

.account-photo .file-wrapper {
	max-width: 250px;
	margin-bottom: 15px;
}

.account-photo .file-wrapper:hover {
    background: #3f4340;
    color: #fff;
	box-shadow: none;
}

.account-info {
	flex: 1;
}

.data-screen {
	background: url(../images/background/account-background.png) no-repeat left top rgba(246, 251, 254, 0.8);
	border-radius: 5px;
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	padding: 20px 100px;
	position: relative;
}

.data-screen:after {
	content: "";
	background: url(../images/dog.png) no-repeat center;
	width: 100px;
	height: 80px;
	position: absolute;
	bottom: -5px;
	right: 35px;
}

.data-screen__inputs {
	margin: 0 -10px;
}

 .account-page .input-wrapper, .account-page .select {
	box-sizing: border-box;
	width: 33.3333%;
	padding: 0 10px;
}

.data-screen .input-wrapper_changed .input-data-label {
    right: 14px;
    top: 32px;
    width: 25px;
    height: 25px;
}

.data-screen .select .select__field_checkout:before {
    height: 41px;
    right: 12px;
    width: 30px;
    border-radius: 2px;
}

.data-screen .select .select__field_checkout:after {
    height: 23px;
    right: 41px;
}

.data-screen__bottom-lines {
	align-items: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.account-page .address-inputs-wr {
    margin: 0 65px 0 0;
}

.account-page .address-inputs .input-wrapper {
    width: 50%;
}

.data-screen__bottom-lines .button, .order-table .button {
	width: 33.3333%;
	font-size: 33px;
	text-transform: none;
	max-width: 300px;
	padding: 7px 20px;
}

.account-page .button:hover {
	box-shadow: none;
}

/*account-history*/

.data-screen_2girls {
	background: url(../images/background/2girls-background.png) no-repeat top rgba(246, 251, 254, 0.8);
	padding: 20px 30px;
} 

.data-screen.data-screen_2girls:after {
	display: none;
}

.order-table {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	background-color: rgb(246, 251, 254);
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
}

.order-table__caption {
	border-bottom: 1px solid rgb(0, 0, 0);
	background-color: rgb(238, 190, 108);
	padding: 5px 100px;
	font: 700 33px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.order-table_details {
	padding: 10px 50px;
	align-items: center;
}

.order-table__line {
	font: 400 33.333px "FinchFrame3";
	color: rgb(63, 67, 64);
	width: 450px;
	flex-wrap: nowrap;
}

.order-table__argument, .order-table_value {
	width: 50%;
}

/*pagination*/

.pagination {
	margin-top: 30px;
	justify-content: center;
}

.page-numbers {
    background-color: #f0e8c1;
    width: 40px;
    height: 40px;
    font: 700 22px "FinchFrame3";
    color: #58585a;
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
}

.page-numbers_first, .page-numbers_last, .page-numbers_prev, .page-numbers_next {
	background: none;
	width: 20px;
}

.page-numbers:hover {
	background-color: rgb(238, 190, 108);
}

/*order*/

.order-table__headline {
	background: rgb(238, 190, 108);
	border-bottom: 1px solid rgb(63, 67, 64);
	border-radius: 5px;
	font: 700 33px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.order-table__item1 {
	width: 40%;
	border-right: 1px solid rgb(63, 67, 64);
	padding: 5px 0 5px 30px;
}

.order-table__item2 {
	width: 60%;
	padding: 5px 0 5px 30px;
}

.order-table__parameter {
	font: 400 25px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.order-table__parameter:nth-child(odd) {
	background-color: rgba(240, 232, 193, 0.8);
}

.data-screen_carousel {
	margin-top: 30px;
	background: url(../images/background/carousel-background.png) no-repeat left top rgba(246,251,254,.8);
}

.data-screen_carousel:after {
    display: none;
}

.order__carousel{
    position: relative;
    margin: 0 auto;
}

.order__carousel_wr{
    overflow: hidden;
}

.order__content_wrapper {
    width: 100%;
    overflow: hidden;
}

.order__content_container {
    width: 133%;
}

.order__long{
	width:1000%; 
    transition: all 0.15s linear 0s;
}

.order__one_doc{
    padding: 0 20px 100px;
    box-sizing: border-box;
    float: left;
    width: 2.5%;
}

.order__carousel-control{
    width: 35px;
    height: 40px;
	cursor:pointer;
    position: absolute;
    top: 130px;
}

.order__carousel-control.next{
    background: url(../../images/icons/right-arrow.svg) no-repeat center;
    right: -50px;
}

.order__carousel-control.next:hover {
    background: url(../../images/icons/right-arrow_hover.svg) no-repeat center;
}

.order__carousel-control.prev{
    background: url(../../images/icons/right-arrow.svg) no-repeat center;
    transform: rotate(180deg);
    left: -50px;
}

.order__carousel-control.prev:hover {
    background: url(../../images/icons/right-arrow_hover.svg) no-repeat center;
}

.order__carousel .catalog-plates__plate {
	border: 1px solid rgb(63, 67, 64);
	background-color: rgba(246, 251, 254, 0.8);
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
}

.data-screen_carousel .button {
	width: 100%;
	text-transform: none;
}

/*contacts*/

.contacts {
	margin: 0 -70px;
}

.contacts__column {
	box-sizing: border-box;
	width: 50%;
	padding: 50px 70px;
}

.contacts__column:first-child {
	border-right: 2px solid rgba(63, 67, 64, 0.5);
}

.contacts__caption {
	font: 700 41px "FinchFrame3";
	color: rgb(63, 67, 64);
	text-transform: uppercase;
}

.contacts__contact {
	display: block;
	font: 400 29px "FinchFrame3";
	color: rgb(63, 67, 64);
	position: relative;
	margin: 7px 0;
	z-index: 1;
}

.contacts__photo {
	border-radius: 5px;
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	width: 100%;
	height: 280px;
	margin-top: 20px;
	position: relative;
}

.contacts__photo_1 {
	background: url(../images/contacts1.png) no-repeat center;
	background-size: cover;
}

.contacts__photo_1:before {
	content: "";
	background: url(../images/boy-contacts.png) no-repeat center rgba(246, 251, 254, 0.8);
	width: 120px;
	height: 160px;
	position: absolute;
	top: -165px;
	right: -20px;
}

.contacts__photo_2 {
	background: url(../images/contacts2.png) no-repeat center;
	background-size: cover;
}

.contacts__photo_2:before {
	content: "";
	background: url(../images/girl.png) no-repeat center;
	width: 120px;
	height: 160px;
	position: absolute;
	top: -165px;
	right: -20px;
}

.company-card {
	background: url(../images/background/company-card.png) no-repeat top right rgba(246, 251, 254, 0.8);
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	font: 400 29px "FinchFrame3";
	padding: 30px 60px;
}

.company-card iframe {
	width: 100%;
	height: 520px;
	border: none;
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	margin-top: 25px;
}

/*bonus-page*/

.bonus-system {
	background: url(../images/background/company-card.png) no-repeat top right rgba(246, 251, 254, 0.8);
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	padding: 30px 60px;
	margin-top: 50px;
}

.bonus-system__card-img {
	background: url(../images/bonus-card.png) no-repeat center;
	background-size: cover;
	width: 340px;
	height: 280px;
	margin: 20px auto;
}

.bonus-system__steps {
	justify-content: space-around;
	margin-bottom: 30px;
}

.bonus-system__step {
	flex-wrap: nowrap;
	width: 33.3333%;
	font: 700 41px "FinchFrame3";
	color: rgb(63, 67, 64);
	align-items: center;
}

.bonus-system__steps .button {
	font-size: 41px;
	text-transform: none;
	padding: 7px 10px;
	width: 70%;
	margin: 0 10px;
}

.modal-window_bonus-login {
	background: url(../images/background/window-bonus-login.png) no-repeat center;
	background-size: cover;
}

.modal-inner .input-wrapper, .modal-inner .flex_between  {
	width: 100%;
	max-width: 300px;
	margin: 10px 0;
}

.modal-inner__client-type.flex_between {
	max-width: 520px;
}

.input_company {
	display: none;
}

.input_company.active {
	display: block;
}

.input_individual {
	display: none;
}

.input_individual.active {
	display: block;
}

.modal-inner__link {
	display: block;
	font: 700 30px "FinchFrame3";
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

.modal-window_password {
	background: url(../images/background/window-password.png) no-repeat center;
}

.bonus-system__description {
	font: 400 29px "FinchFrame3";
	color: rgb(63, 67, 64);
}

/*cakes*/

.cakes-page .account-nav {
    justify-content: center;
    margin: 30px auto;
}

.cakes-page .account-nav .button {
	width: 20%;
}

.sweets {
	margin: 0 -20px;
}

.sweets__item-wr {
	box-sizing: border-box;
	width: 33.3333%;
	padding: 20px;
}

.sweets__item {
	background: url(../images/cake4.png) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 300px;
	position: relative;
}

.sweets__name {
	display: none;
	background-color: rgba(63, 67, 64, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	font: 700 37.5px "FinchFrame3";
	color: rgb(246, 251, 254);
	align-items: center;
	justify-content: center;
}

.sweets__item:hover .sweets__name {
	display: flex;
}

.cakes-page .pagination {
	display: none;
}

/*cake*/

.cake-page .sheet-torn_top {
	background: url(../images/background/cake_background-top.png) no-repeat bottom;
	background-size: 100%;
	top: -125px;
}

.card-info__cake {
    background: url(../images/cake5.png) no-repeat center;
    width: 100%;
    height: 450px;
}

.modal-window_contacts {
	background: url(../images/background/window-contacts.png) no-repeat center;
	background-size: cover;
	padding: 20px 50px;
}

.modal-inner .ui-slider-wr, .modal-inner .file-wrapper {
    width: 100%;
    max-width: 300px;
	margin: 25px 0 15px;
}

.modal-window_contacts .modal-inner .input-wrapper {
    margin: 5px 0;
}

.modal-inner .radio-label {
	font: 700 25px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.modal-inner .input-wrapper_changed .input-data-label {
    right: 7px;
    top: 15px;
}

.modal-inner .file-wrapper {
	font: 700 23px "FinchFrame3";
	text-transform: uppercase;
}

.modal-inner .file-wrapper:hover {
	background: #3f4340;
	color: rgba(246, 251, 254, 0.902);
}

.modal-inner .textarea-label {
    font: 400 23px "FinchFrame3";
    color: #3f4340;
    padding-left: 25px;
	max-width: 500px;
}

/*wholesale*/

.wholesale-page .data-screen_2girls {
   margin-top: 30px;
}

.wholesale-img {
	background: url(../images/wholesale.png) no-repeat center;
	background-size: cover;
	border-radius: 2px;
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	width: 500px;
	height: 500px;
	float: left;
	margin-right: 30px;
}

.paragraph_wholesale {
	font: 400 28px "FinchFrame3";
	color: rgb(63, 67, 64);
	line-height: 1;
	margin: 5px 0;
}

/*company-page*/

.company-page .data-screen {
	padding: 30px 100px;
	margin-top: 30px;
}

.company__carousel{
    position: relative;
	margin-bottom: 30px;
}

.company__carousel .company__carousel_wr{
    overflow: hidden;
    margin: 0 -10px;
}

.company__carousel .company__content_wrapper {
    width: 100%;
    overflow: hidden;
}

.company__content_container {
    width: 100%;
}

.company__carousel .company__long{
	width:1000%; 
    transition: all 0.15s linear 0s;
}

.company__carousel .company__one_doc{
    padding: 0 10px;
    box-sizing: border-box;
    float: left;
    width: 2.5%;
}

.company__carousel .company__one_doc .company__inner{
	width: 100%;
    font-size: 0;
}

.company__carousel .company__one_doc img{
	width: 100%;
	height: 150px;
}

.company__control{
    width: 35px;
    height: 40px;
	cursor:pointer;
    position: absolute;
    top: 50px;
}

.company__control.next{
    background: url(../../images/icons/right-arrow.svg) no-repeat center;
    right: -50px;
}

.company__control.next:hover {
    background: url(../../images/icons/right-arrow_hover.svg) no-repeat center;
}

.company__control.prev{
    background: url(../../images/icons/right-arrow.svg) no-repeat center;
    transform: rotate(180deg);
    left: -50px;
}

.company__control.prev:hover {
    background: url(../../images/icons/right-arrow_hover.svg) no-repeat center;
}

.company-page p {
	font: 400 21px "FinchFrame3";
	color: rgb(63, 67, 64);
	margin: 0;
}

/*news*/

.news-content {
	margin-top: 30px;
}

.widget-vk {
	background: #ffffff;
	width: 30%;
	box-shadow: 0px 10px 14.25px 0.75px rgba(1, 3, 0, 0.25);
	margin-left: 30px;
}

.news-page .data-screen {
	flex: 1;
	padding: 20px 30px;
}

.news-page .data-screen:after {
    display: none;
}

.news-item__img {
	background: url(../images/happy-hours.png) no-repeat center;
	background-size: contain;
	border: 1px solid rgb(63, 67, 64);
	border-radius: 5px;
	background-color: rgb(246, 251, 254);
	width: 248px;
	height: 248px;
	margin-right: 20px;
}

.news-item__text {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.news-item__caption {
	font: 700 41px "FinchFrame3";
	color: rgb(63, 67, 64);
	text-align: center;
	margin-bottom: 10px;
}

.news-item__description {
	font: 400 29px "FinchFrame3";
	color: rgb(63, 67, 64);
}

.news-item__button {
	text-transform: none;
	margin: 30px 0 0 auto;
}

.news-item {
	position: relative;
	padding-bottom: 70px;
}

.news-item::after {
    content: "";
    background-color: rgba(63,67,64,.5);
    width: 80%;
    height: 2px;
    position: absolute;
    bottom: 45px;
    margin: 0 auto;
    left: 0;
    right: 0;
}






/*media*/

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
	
	.catalog-filters {
		width: 240px;
	}
	
	.catalog-plates__plate-wr {
		box-sizing: border-box;
		width: 50%;
		padding: 0 10px 20px;
	}
	
	.sheet-torn {
		padding: 0 10px;
	}
	
	.cart-page .sheet-torn {
		padding: 0 35px;
	}
	
	.contacts-page .sheet-torn {
		padding: 20px 50px;
	}
	
	.data-screen {
		padding: 20px 30px;
	}
	
	.account-page .address-inputs-wr {
		max-width: 300px;
		margin: 0 30px 0 0;
	}
	
	.order__carousel-control.next {
		right: -25px;
	}
	
	.order__carousel-control.prev {
		left: -25px;
	}
}

@media screen and (max-width: 1023px) {
    .catalog__item {
        width: 50%;
    }
    
    .animals {
        background: none;
        padding-bottom: 50px;
    }
    
    .animals__cloud {
        width: 50%;
    }
    
    .animals__cloud_1, .animals__cloud_2, .animals__cloud_3 , .animals__cloud_4 {
        background-size: contain;
    }
	
	.catalog-plates__plate-wr {
		width: 50%;
	}
	
	.catalog-plates__info {
		padding: 5px;
	}
	
	.paragraph {
	  font-size: 28px;
	}
	
	.paragraph_remark {
		font-size: 30px;
	}

	.card-buttons_button, .button_card {
		font-size: 28px;
		padding: 7px 10px;
	}
	
	.card__price {
		font-size: 32px;
	}
	
	.checkout-page .sheet-torn {
		padding: 0 30px;
	}
	
	.checkout-total__final-step {
		flex-direction: column-reverse;
		margin-left: 25px;
	}
	
	.checkout-total__term, .checkout-total__button{
		width: 100%;
	}
	
	.account-photo {
		width: 250px;
	}

	.account-photo__img {
		width: 250px;
		background: url(../images/icons/account-photo.png) no-repeat 15px 39px #3f4340;
	}
	
	.account-page .input-wrapper, .account-page .select {
		width: 50%;
	}
	
	.data-screen__bottom-lines {
		flex-direction: column;
	}
	
	.account-page .address-inputs-wr {
		margin: 0 0 20px 0;
	}
	
	.data-screen__bottom-lines .button {
		width: 100%;
		max-width: 250px;
	}
	
	.order-table_details {
		padding: 10px 15px;
		flex-wrap: nowrap;
	}
	
	.order-table__line, .order-table .button {
		font-size: 26px;
	}
	
	.order__content_container {
		width: 200%;
	}
	
	.contacts {
		margin: 0 -20px;
	}
	
	.contacts__column {
		padding: 0 20px;
	}
	
	.bonus-system__steps {
		flex-direction: column;
		align-items: center;
	}
	.bonus-system__step {
		margin: 10px 0;
		width: 100%;
		justify-content: center;
	}
	
	.bonus-system__steps .button {
		width: 250px;
	}
	
	.sweets__item-wr {
		width: 50%;
	}
	
	.wholesale-img {
		width: 300px;
		height: 300px;
	}
	
	.company-page .data-screen {
		padding: 30px 60px;
	}

	.company__content_container {
		width: 133%;
	}
	
	.news-page .data-screen {
		padding: 20px 15px;
	}
	
	.news-item__img {
		width: 200px;
		height: 200px;
	}
	
	.news-item__description {
		font-size: 26px;
		line-height: 1;
	}
	
	.news-item__button {
		font-size: 30px;
		margin-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	
	.main-screen_inner-page {
		margin: 0;
	}
	
	.catalog-filters {
		display: none;
	}
	
	.card-info {
		flex-direction: column;
	}
	
	.card-info__column {
		width: 100%;
	}
	
	.card-info__photo {
		margin-bottom: 15px;
	}
	
	.card-buttons {
		margin: 20px 0;
	}
	
	.cart-line {
		width: 100%;
	}

	.cart-line__top {
		display: none;
	}
	
	.cart-line, .cart-line__left, .cart-line_bottom {
		flex-direction: column;
		align-items: center;
	}
	
	.cart-line {
		max-width: 400px;
		margin: 0 auto 20px;
	}
	
	.cart-line__delete {
		position: static;
	}
	
	.bonus-banner {
		margin: 0;
		width: 100%;
	}
	
	.checkout-page .sheet-torn {
		background: rgba(247,251,254,.8);
		margin: 20px 0;
		padding: 30px 15px;
	}
	
	.checkout-bordered, .checkout-delivery {
		padding: 20px 10px;
	}
	
	.checkout-bordered__column {
		width: 100%;
	}
	
	.checkout-total {
		flex-direction: column;
		padding: 20px 15px;
	}
	
	.checkout-total__final-step {
		margin: 25px 0 0;
	}
	
	.checkout-total__line {
		width: 100%;
	}
	
	.modal-window {
		width: auto;
	}
	
	.account-nav {
		margin: 40px 0 20px;
	}
	
	.photo-info-screen {
		flex-direction: column;
		background-color: rgba(246,251,254,.8);
		box-shadow: 0 10px 14.25px 0.75px rgba(1,3,0,.25);
	}
	
	.account-photo {
		width: 100%;
	}
	
	.data-screen {
		box-shadow: none;
	}
	
	.order-table_details {
		flex-direction: column;
	}
	
	.order-table__caption {
		padding: 5px 25px;
		font-size: 28px ;
	}
	
	.order-table__lines {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.order-table__line {
		width: 100%;
	}
	
	.order-table .button {
		width: 100%;
	}
	
	.order-table__headline {
		font: 700 24px FinchFrame3;
	}
	
	.order-table__parameter {
		font: 400 22px FinchFrame3;
	}
	
	.order-table__item1, .order-table__item2 {
		padding-left: 10px;
	}
	
	.order__content_container {
		width: 400%;
	}
	
	.contacts {
		flex-direction: column;
	}
	
	.contacts__column {
		width: 100%;
	}
	
	.contacts__column:first-child {
		border: none;
		margin-bottom: 30px;
	}
	
	.modal-inner__client-type.flex_between {
		flex-direction: column;
		align-items: center;
	}
	
	.cakes-page .pagination {
		display: flex;
	}
	
	.wholesale-img {
		width: 200px;
		height: 200px;
	}
	
	.company__content_container {
		width: 200%;
	}
	
	.company-page .data-screen {
		padding: 30px 30px;
	}
	
	.company__control.next {
		right: -35px;
	}
	
	.company__control.prev {
		left: -35px;
	}
	
	.news-content {
		flex-direction: column;
	}
	
	.widget-vk {
		width: 100%;
		max-width: 400px;
		height: 400px;
		margin: 30px auto 0;
	}
}

@media screen and (max-width: 639px) {
    .catalog__item {
        width: 100%;
    }
    
    .animals__cloud {
        width: 100%;
    }
	
	.sheet-torn {
		margin: 100px 0;
	}
	
	.catalog-plates__plate-wr {
		width: 100%;
	}
	
	.select__field_price {
		width: 200px;
	}	
	
	.account-nav {
		justify-content: space-around;
	}
	
	.account-nav .button {
		width: auto;
		margin: 0;
		font-size: 20px;
	}
	
	.account-page .input-wrapper, .account-page .select {
		width: 100%;
	}
	
	.account-page .select {
		margin: 20px 0 5px;
	}
	
	.account-history-page .data-screen {
		padding: 20px 10px;
	}
	
	.order-table__caption {
		padding: 5px 10px;
		font-size: 24px;
	}
	
	.sweets__item-wr {
		width: 100%;
	}
	
	.cakes-page .account-nav .button {
		width: 50%;
		margin: 5px;
		max-width: 200px;
	}
	
	.modal-window_contacts {
		padding: 20px 15px;
	}
}

@media screen and (max-width: 500px) {
	.button_card, .card-buttons_button {
		font-size: 18px;
	}
	
	.sheet-torn {
		background: rgba(247,251,254,.8);
		margin: 20px 0;
		padding: 30px 15px;
	}
	
	.cart-page .sheet-torn {
		padding: 30px 15px;
	}
	
	.sheet-torn_top {
		display: none;
	}
	
	.sheet-torn_bottom {
		display: none;
	}

	.cart-line__fixed {
		width: auto;
		padding: 0 10px;
	}
	
	.order-table__caption {
		flex-direction: column;
	}
	
	.order-table__line {
		font-size: 22px;
	}
	
	.page-numbers {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	
	.page-numbers_first, .page-numbers_last, .page-numbers_next, .page-numbers_prev {
		width: 10px;
	}
	
	.order-page .data-screen {
		padding: 20px 10px;
	}
	
	.order-page .order__one_doc {
		padding: 0 0 50px;
	}
	
	.contacts-page .sheet-torn, .company-card{
		padding: 30px 15px;
	}
	
	.bonus-system {
		padding:20px 15px;
	}
	
	.bonus-system__card-img {
		background-size: contain;
		width: 250px;
		height: 250px;
	}
	
	.bonus-system__steps .button {
		width: 150px;
		font-size: 22px;
	}

	.cakes-page .account-nav .button {
		max-width: 140px;
	}
	
	.card-info__cake {
		height: 250px;
	}
	
	.wholesale-img {
		width: 100%;
		height: 300px;
		margin: 0 0 20px;
	}
	
	.company__content_container {
		width: 400%;
	}
	
	.news-item__img {
		width: 100px;
		height: 100px;
		margin-right: 10px;
	}
	
	.news-item__description {
		font-size: 20px;
	}
	
	.news-item__button {
		font-size: 20px;
	}
}